<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title><?=TITLE ?></title>
<meta content="simone celia developer consultant personal homepage" name="description">
<meta content="simonecelia simone celia simonecelia.it java javascript" name="keywords">
<link href="assets/img/favicon.ico" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
